################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs
/**/bin/*
/**/obj/*
*.csproj.user
/src/Templates/Yaml/scriban_template_support_problem.zip
/src/Templates/Yaml/example_output_screenshot.png
/src/Templates/Yaml/Example_Config.xml
/src/Templates/CSharp/ProjectXYZ.Shared
/src/Templates/CSharp/WinForms/ProjectXYZ.UserControls
/src/CodeGenerator.Presentation.WinForms/SyncfusionLicenseKey.txt
/docs/Add Enum type.txt
/docs/Nieuw ValueType Artifact.txt
/src/Templates/CSharp/WinForms/ProjectXYZ.Presentation.WinForms/Resources/lucide-icons
/src/Templates/Generators/WinformsRibbonApplicationGenerator/WinformsRibbonApplication/Resources/lucide-icons
