################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs
/**/bin/*
/**/obj/*
*.csproj.user
/src/CodeGenerator.Presentation.WinForms/Resources/lucide-icons
